<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakurain.gpuscheduler.mapper.PermissionMapper">

    <select id="selectByRoleIds" resultType="com.sakurain.gpuscheduler.entity.Permission">
        SELECT DISTINCT p.* FROM permission p
        INNER JOIN role_permission rp ON p.id = rp.permission_id
        WHERE rp.role_id IN
        <foreach collection="roleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND p.status = 1
    </select>

</mapper>
