<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakurain.gpuscheduler.mapper.RolePermissionMapper">

    <insert id="batchInsert">
        INSERT INTO role_permission (role_id, permission_id, granted_by) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.permissionId}, #{item.grantedBy})
        </foreach>
    </insert>

</mapper>
