<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakurain.gpuscheduler.mapper.UserRoleMapper">

    <insert id="batchInsert">
        INSERT INTO user_role (user_id, role_id, expires_at, granted_by) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.roleId}, #{item.expiresAt}, #{item.grantedBy})
        </foreach>
    </insert>

</mapper>
